// main: style.less

.fw-light {
    font-weight: 300;
}

.fw-bold {
    font-weight: 700;
}

.fs-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.td-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-color-white {
    color: @white;
}

.text-color-gray {
    color: @gray;
}

.text-color-gray-light {
    color: @gray-light;
}

.bg-color-black {
    background-color: @black;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.justify-sb {
    justify-content: space-between;
};

.justify-center {
    justify-content: center;
};

.justify-end {
    justify-content: end;
};

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fd-column {
    flex-direction: column;
}
