// main: style.less

.bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.justify-sb {
    justify-content: space-between;
};

.justify-center {
    justify-content: center;
};

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}
