// main: ../style.less

.intro {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid @gray;
        border-color: rgba(@gray, 0.3) 
    }

    &__title {
        font-size: 2.8125rem;
        font-weight: bold;
        margin-bottom: 0.3125rem;
    }

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 0.3125rem;
    }

    &__body {
        font-size: 1.125rem;
        opacity: 0.70;
        margin-bottom: 1.5625rem;
    }

    &__buttons {
        display: flex;
    }

    &__photo {
        position: relative;

        height: 500px;
        width: 470px;
    }

    &__symbols {
        position: absolute;

        bottom: 0;
        right: 0;

        z-index: 1;
    }

    &__person {
        position: absolute;

        bottom: 0;
        right: 0;

        z-index: 2;
    }
}