// main: ../style.less

.nav {
    &__link {
        font-size: 0.875rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        padding: 10px 30px;
        margin: 0 5px;

        border-bottom: 2px solid transparent;

        &:hover {
            border-color: @black;
        }
    }

    &__btn {
        border: 2px solid @black;
        border-radius: 20px;
    }
}